{%extends 'NotepadBundle:pages:layout.html.twig'%}

{%block block_content%}
	<!-- Main component for a primary marketing message or call to action -->
	
	<table style="width:100%">
		<tr>
			<td><h1>Note list</h1></td>
			<td>
				<!--<div class="pull-right"><input type="text" class="form-control" id="searchBar" placeholder="search"></div>-->
				{%form_theme form 'bootstrap_3_layout.html.twig'%}
				{{form_start(form)}}
					{{form_widget(form)}}
				{{form_end(form)}}
			
			</td>
		</tr>
	</table>
	
	{%for note in notes%}
		<div class="panel panel-info">	
			<div class="panel-heading">
				{{note.title|e}}
				<div class="pull-right">
					<i>{{note.category.label|e}}</i>
				</div>
			</div>
			
			<div class="panel-body">
				{{note.content|e}}
			</div>
			<div class="panel-footer">
				<div class="btn btn-clear">{{note.date|date('d-m-Y')}}</div>
				<div class="pull-right">
					<a role="button" class="btn btn-success" href="{{path('editnote', {'id':note.id})}}">Edit Note</a>
					<a role="button" class="btn btn-danger" href="{{path('deletenote', {'id':note.id})}}">Delete Note</a>
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>	
		
	{% endfor %}

{%endblock%}
